body{
	 font-family: 'Ubuntu', sans-serif;
	 background-color:	#f0e4cd;
	
}
.login-container{
  background-color:#dbc1ac;
  padding:12px;
  
}
.login{
  width:400px;
  margin:16px auto;
  font-size:16px;
}

.LoginBtn{
	background-color:rgb(79,56,40);
	color:white;
	border-color:transparent;
	cursor:pointer;
	width:100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
}
.login-triangle{
  width:0;
  margin-right:auto;
  margin-left:auto;
  border:solid 12px transparent;
  border-bottom-color:#4f3828;
}

.login-header{
  margin-top:0;
  margin-bottom:0;
  background:#4f3828;
  padding:20px;
  font-size:1.4em;
  font-weight:normal;
  text-align:center;
  text-transform:uppercase;
  color:#f7f3d3;
}
input{
  box-sizing:border-box;
  display:block;
  width:100%;
  border-width:1px;
  border-style:solid;
  padding:12px;
  outline:0; /*az alap kék keretet leveszi fókuszkor*/
  font-family:inherit;
  font-size:0.95em;
	
}

.login p{
  margin-top:0;
  margin-bottom:0;
  padding:12px;
}

